In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob

In [91]:
#bang = pd.read_csv('Bangalore.csv')
#chen = pd.read_csv('Chennai.csv')
#delh = pd.read_csv('Delhi.csv')
#hyde = pd.read_csv('Hyderabad.csv')
#mumb = pd.read_csv('Mumbai.csv')
#kolk = pd.read_csv('Kolkata.csv')

In [92]:
folder_path = r'C:\Users\MY PC\OneDrive\Desktop\Projects List\House Price Prediction'

selected_columns = ['Price', 'Area', 'Location', 'No. of Bedrooms']

csv_files = glob.glob(os.path.join(folder_path, '*.csv'))

df = pd.concat([pd.read_csv(file)[selected_columns] for file in csv_files], ignore_index = True)

In [93]:
df.head(25)

       Price  Area                         Location  No. of Bedrooms
0   30000000  3340                 JP Nagar Phase 1                4
1    7888000  1045       Dasarahalli on Tumkur Road                2
2    4866000  1179  Kannur on Thanisandra Main Road                2
3    8358000  1675                     Doddanekundi                3
4    6845000  1670                          Kengeri                3
5    6797000  1220                         Horamavu                2
6   20000000  2502                      Thanisandra                4
7    7105000  1438                 Ramamurthy Nagar                3
8    8405000  1405    Whitefield Hope Farm Junction                3
9    3506000   660          Electronic City Phase 1                1
10   7700000  1362                        Yelahanka                2
11   9369000  1735                       Anjanapura                3
12   8716000  1575                        Jalahalli                3
13   5394000  1120                    Kasavanahalli                2
14   6367000  1415    Whitefield Hope Farm Junction                3
15   5080000  1270                      Bommasandra                2
16   7209999  1311                        Bellandur                3
17   5700000  1210                         RR Nagar                2
18  30000000  3340                 JP Nagar Phase 1                4
19   7888000  1045       Dasarahalli on Tumkur Road                2
20   4866000  1179  Kannur on Thanisandra Main Road                2
21   8358000  1675                     Doddanekundi                3
22   6845000  1670                          Kengeri                3
23   6797000  1220                         Horamavu                2
24  20000000  2502                      Thanisandra                4

In [94]:
""""y_ = '\033[93m'  # Yellow
r_ = '\033[91m'  # Red

print(f"{y_}Bangalore:{r_}{bang.shape}\n")
print(f"{y_}Chennai:{r_}{chen.shape}\n")
print(f"{y_}Delhi:{r_}{delh.shape}\n")
print(f"{y_}Hyderabad:{r_}{hyde.shape}\n")
print(f"{y_}Kolkata:{r_}{kolk.shape}\n")
print(f"{y_}Mumbai:{r_}{mumb.shape}\n")"""

'"y_ = \'\x1b[93m\'  # Yellow\nr_ = \'\x1b[91m\'  # Red\n\nprint(f"{y_}Bangalore:{r_}{bang.shape}\n")\nprint(f"{y_}Chennai:{r_}{chen.shape}\n")\nprint(f"{y_}Delhi:{r_}{delh.shape}\n")\nprint(f"{y_}Hyderabad:{r_}{hyde.shape}\n")\nprint(f"{y_}Kolkata:{r_}{kolk.shape}\n")\nprint(f"{y_}Mumbai:{r_}{mumb.shape}\n")'

In [95]:
"""bang.dropna()
chen.dropna()
delh.dropna()
hyde.dropna()
kolk.dropna()
mumb.dropna()"""

'bang.dropna()\nchen.dropna()\ndelh.dropna()\nhyde.dropna()\nkolk.dropna()\nmumb.dropna()'

In [96]:
#print(f'{y_} Data Types of Data Columns: \n{r_}{bang.dtypes}')

In [97]:
df.shape

(32963, 4)

In [98]:
df.isnull().sum()

Price              0
Area               0
Location           0
No. of Bedrooms    0
dtype: int64

In [99]:
for column in df.columns:
    print(df[column].value_counts())
    print('*' * 20)

Price
4500000      386
4000000      367
3500000      340
5500000      319
6500000      310
            ...
92100000       1
362600000      1
8033000        1
748100000      1
2465000        1
Name: count, Length: 4924, dtype: int64
********************
Area
800     814
1000    738
1100    488
650     451
1200    436
       ...
3549      1
4065      1
2789      1
2498      1
250       1
Name: count, Length: 2452, dtype: int64
********************
Location
Noida             761
New Town          711
Kharghar          681
Thane West        577
Mira Road East    481
                 ...
Khizra Enclave      1
Whitefields         1
Mayuri Nagar        1
Adda Gutta          1
Padle Gaon          1
Name: count, Length: 1776, dtype: int64
********************
No. of Bedrooms
2    14263
3    12596
1     3857
4     1983
5      214
6       33
7        9
8        7
9        1
Name: count, dtype: int64
********************

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32963 entries, 0 to 32962
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Price            32963 non-null  int64
 1   Area             32963 non-null  int64
 2   Location         32963 non-null  object
 3   No. of Bedrooms  32963 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.0+ MB

In [101]:
df.describe()

              Price          Area  No. of Bedrooms
count  3.296300e+04  32963.000000     32963.000000
mean   1.168672e+07   1293.362194         2.411765
std    2.307368e+07    763.703754         0.812800
min    2.000000e+06    200.000000         1.000000
25%    4.071500e+06    853.000000         2.000000
50%    6.711000e+06   1125.000000         2.000000
75%    1.200000e+07   1500.000000         3.000000
max    8.546000e+08  16000.000000         9.000000

In [102]:
df.rename(columns={"No. of Bedrooms": "BHK"}, inplace=True)
df.rename(columns={"Area": "Total_Sqft"}, inplace=True)

In [110]:
df['Price_Per_Sqft'] = df['Price'] / df['Total_Sqft']

In [111]:
df

,Price,Total_Sqft,Location,BHK,Price_Per_Sqft
0,30000000,3340,JP Nagar Phase 1,4,8982.035928
1,7888000,1045,Dasarahalli on Tumkur Road,2,7548.325359
2,4866000,1179,Kannur on Thanisandra Main Road,2,4127.226463
3,8358000,1675,Doddanekundi,3,4989.850746
4,6845000,1670,Kengeri,3,4098.802395
...,...,...,...,...,...
32958,14500000,1180,Mira Road East,2,12288.135593
32959,14500000,530,Naigaon East,1,27358.490566
32960,4100000,700,Shirgaon,1,5857.142857
32961,2750000,995,Mira Road East,2,2763.819095
32962,2750000,1020,Mira Road East,2,2696.078431

In [112]:
df['Location'].value_counts()

Location
Noida             761
New Town          711
Kharghar          681
Thane West        577
Mira Road East    481
                 ...
Khizra Enclave      1
Whitefields         1
Mayuri Nagar        1
Adda Gutta          1
Padle Gaon          1
Name: count, Length: 1776, dtype: int64

In [113]:
df['Location'] = df['Location'].apply(lambda x: x.strip()) 
location_count = df['Location'].value_counts()

In [114]:
location_count_less_than_10 = location_count[location_count <= 10]
location_count_less_than_10

Location
Dhakuria Station Road    10
Baghajatin               10
Kalamboli                10
Topsia Road              10
Mumbai Central           10
                         ..
Khizra Enclave            1
Whitefields               1
Mayuri Nagar              1
Adda Gutta                1
Padle Gaon                1
Name: count, Length: 1268, dtype: int64

In [115]:
df['Location'] = df['Location'].apply(lambda x: 'other' if x in location_count_less_than_10 else x)

# Outlier detection and removal

In [116]:
df.describe()

              Price    Total_Sqft           BHK  Price_Per_Sqft
count  3.296300e+04  32963.000000  32963.000000    3.296300e+04
mean   1.168672e+07   1293.362194      2.411765    9.746699e+03
std    2.307368e+07    763.703754      0.812800    1.823321e+04
min    2.000000e+06    200.000000      1.000000    2.410000e+02
25%    4.071500e+06    853.000000      2.000000    4.000000e+03
50%    6.711000e+06   1125.000000      2.000000    5.775556e+03
75%    1.200000e+07   1500.000000      3.000000    9.500000e+03
max    8.546000e+08  16000.000000      9.000000    1.076444e+06

In [117]:
(df['Total_Sqft'] / df['BHK']).describe()

count    32963.000000
mean       532.846518
std        206.055752
min        194.333333
25%        422.500000
50%        510.000000
75%        600.000000
max      16000.000000
dtype: float64

In [118]:
df = df[((df['Total_Sqft'] / df['BHK']) >= 300)]
df.describe()

              Price    Total_Sqft          BHK  Price_Per_Sqft
count  3.180500e+04  31805.000000  31805.00000    31805.000000
mean   1.180928e+07   1317.016098      2.40981     9574.382758
std    2.303074e+07    766.385231      0.81834    16194.200839
min    2.000000e+06    300.000000      1.00000      241.000000
25%    4.172000e+06    900.000000      2.00000     3992.673993
50%    6.884999e+06   1150.000000      2.00000     5779.467681
75%    1.200000e+07   1520.000000      3.00000     9471.365639
max    8.546000e+08  16000.000000      9.00000   615961.538462

In [128]:
df.shape

(31805, 5)

In [129]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('Location'):
        m = np.mean(subdf.Price_Per_Sqft)
        
        st = np.std(subdf.Price_Per_Sqft)
        
        gen_df = subdf[(subdf.Price_Per_Sqft > (m - st)) & (subdf.Price_Per_Sqft <= (m + st))]
        
        df_output = pd.concat([df_output, gen_df], ignore_index=True)
        
    return df_output
df = remove_outliers_sqft(df)
df.describe()

              Price    Total_Sqft           BHK  Price_Per_Sqft
count  2.812800e+04  28128.000000  28128.000000    28128.000000
mean   9.108712e+06   1292.899211      2.406499     7347.271345
std    9.377395e+06    701.299331      0.803654     5855.638957
min    2.000000e+06    300.000000      1.000000      241.000000
25%    4.057000e+06    900.000000      2.000000     3965.442279
50%    6.500000e+06   1149.000000      2.000000     5585.106383
75%    1.070000e+07   1500.000000      3.000000     8548.387097
max    2.854000e+08  16000.000000      8.000000   114285.714286

In [130]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('Location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('BHK'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.Price_Per_Sqft),
                'std': np.std(bhk_df.Price_Per_Sqft),
                'count': bhk_df.shape[0]
            }
            
        for bhk, bhk_df in location_df.groupby('BHK'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.Price_Per_Sqft < (stats['mean'])].index.values)
                
    return df.drop(exclude_indices, axis = 'index')

In [131]:
df = bhk_outlier_remover(df)

In [132]:
df.head(15)

       Price  Total_Sqft   Location  BHK  Price_Per_Sqft
0    6700000        1180  5th Phase    2     5677.966102
1    5800000        1185  5th Phase    2     4894.514768
3    8400000        1180  5th Phase    2     7118.644068
4    4876000        1185  5th Phase    2     4114.767932
6    7498999        1180  5th Phase    2     6355.083898
7    4800000        1180  5th Phase    2     4067.796610
8   13200000        1180  5th Phase    2    11186.440678
9   16000000        1185  5th Phase    2    13502.109705
10   4000000         910   Abbigere    2     4395.604396
11   4000000         910   Abbigere    2     4395.604396
12   4000000         940   Abbigere    2     4255.319149
13   3800000         940   Abbigere    2     4042.553191
14   3100000         910   Abbigere    2     3406.593407
15   3100000         910   Abbigere    2     3406.593407
16   4833000         910   Abbigere    2     5310.989011

In [135]:
#data.drop(columns=['Price_Per_Sqft'], inplace=True)
df["Price_Per_Sqft"] = df["Price_Per_Sqft"].astype(int)

## Cleaned Data

In [138]:
df.head()

     Price  Total_Sqft   Location  BHK  Price_Per_Sqft
0  6700000        1180  5th Phase    2            5677
1  5800000        1185  5th Phase    2            4894
3  8400000        1180  5th Phase    2            7118
4  4876000        1185  5th Phase    2            4114
6  7498999        1180  5th Phase    2            6355

In [139]:
df.to_csv('Cleaned_data.csv')

In [141]:
X = df.drop(columns = ['Price'])
y = df['Price']

In [148]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [149]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [150]:
print(X_train.shape)
print(X_test.shape)

(13433, 4)
(3359, 4)

# Applying Linear Regression

In [151]:
column_trans = make_column_transformer((OneHotEncoder(sparse_output=False), ['Location']), remainder='passthrough')

In [152]:
scaler = StandardScaler()

In [155]:
model = LinearRegression()

In [156]:
pipe = make_pipeline(column_trans, scaler, model)

In [158]:
pipe.fit(X_train, y_train)

C:\Users\MY PC\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\compose\_column_transformer.py:1651: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['Location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [159]:
y_pred_lr = pipe.predict(X_test)

In [160]:
r2_score(y_test, y_pred_lr)

0.795851499867921

## Lasso

In [ ]:
lasso = Lasso()